
@font-face {
  font-family: "Lobster-Regular";
  src: url("../fonts/Lobster-Regular.ttf");
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container
{
  padding: 2em;
}

.principal
{
  margin-top: 2em;
  margin-bottom: 2em;
}

.integrantes
{
  text-align: center;
}

.footer{
  background-color: #343a40;

  color: whitesmoke;

  padding: 1em;
  margin-top: auto;
}

#userName{
  color: whitesmoke;
  font-weight: bold;
  margin: auto;
  margin-right: 1em;

  vertical-align: middle;
}

.textoLogin{
  font-weight: bold;
}

.imgHome{
  width: 50%;
  height: 80%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px)
{
   .cardCadastro
   {
    width: 80%;
   }
}

.cardCadastro{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardCadastro h3{
  padding-bottom: 1em;
}

@media (max-width: 800px)
{
   .cardCadastroAcessorio
   {
    width: 80%;
   }
}

.cardCadastroAcessorio{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardCadastroAcessorio h3{
  padding-bottom: 1em;
}

.login-form-1{
  padding: 2%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3{
  text-align: center;
  color: #333;
}

.login-container form{
  padding: 10%;
}

.btnSubmit
{
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;

  text-align: center;
  width: 40%;

  background-color: #8BC34A;
}

.btnSubmit:hover
{
  font-weight: bold;

  background-color: #56A830;
}

.btnSubmit:active
{
  background-color: #F44336;
}

.classCustom{
  background-color: #56A830 !important;
}
.classCustom input{
  background-color: #6969;
}

.classCustom main{
  background-color: #56A830 !important;
}

.classCustom button{
  background-color: #F44336;
  border-radius: 50px;
  color: #ffff;
}

.classCustom button:hover{
  background-color: yellowgreen;
}

.classCustom label{
  font-family: "Lobster-Regular";
}

.btnAcao
{
  border-radius: 10%;
}

.escondeResultado
{
  display: none !important;
}

.mostraResultado
{
  width: 100%;
  border-radius: 1rem;
  padding: 1.5%;
  margin: 1em;
  display: inline !important;
}
